<h2>Education</h2>
<div class="cv-section">
  <% @education.each do |ed| %>
    <div class="education">
      <h3>
        <span class="title">
          <%= ed.title %>
        </span>
        <span class="location">
          <%= " - " + ed.location %>
        </span>
        <span class="date">
          <%= "(#{ed.received_date ? ed.received_date.strftime("%b %y") : "Ongoing"})"%>
        </span>
      </h3>
      <p class="description">
        <%= ed.description %>
      </p>
    </div>
  <% end %>
</div>